name: Build MCXCL Binary Only
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_macos:
    name: Build for Apple Silicon
    runs-on: macos-14
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Build Binary
        run: |
          cd src
          make clean
          make CC=clang CXX=clang++
      
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: mcxcl-macos-arm64
          path: bin/mcxcl
