name: Build+Upload MCXCL and Octave/MATLAB mex
on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build_all:
    name: Build All
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-15-intel, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Install dependencies (Linux only, except 24.04)
        if: ${{ runner.os == 'Linux' && matrix.os != 'ubuntu-24.04' }}
        run: sudo apt-get update && sudo apt-get install -y ocl-icd-libopencl1 opencl-headers ocl-icd-opencl-dev liboctave-dev upx-ucl

      - name: Install dependencies (Linux, 24.04 only)
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: sudo apt-get update && sudo apt-get install -y ocl-icd-libopencl1 opencl-headers ocl-icd-opencl-dev octave-dev upx-ucl

      - name: Install dependencies (MacOS Intel only)
        if: ${{ matrix.os == 'macos-15-intel' }}
        run: |
          brew install octave gcc@12

      - name: Install dependencies (MacOS ARM/macos-14 only)
        if: ${{ matrix.os == 'macos-14' }}
        run: |
          brew install libomp  # Minimal requirements for standalone binary

      - name: Install dependencies (Windows only)
        if: ${{ runner.os == 'Windows' }}
        run: |
          curl --retry 3 -kL https://ftpmirror.gnu.org/octave/windows/octave-9.2.0-w64.7z --output octave_9.2.7z
          7z x octave_9.2.7z -ooctave -y
          echo "$PWD/octave/octave-9.2.0-w64/mingw64/bin" >> $GITHUB_PATH
          choco install upx mingw --version=8.1.0
          echo 'C:\ProgramData\Chocolatey\lib\mingw\tools\install\mingw64\bin\' >> $GITHUB_PATH

      - name: Set up MATLAB (non-MacOS14)
        if: ${{ runner.os != 'macOS' }}
        uses: matlab-actions/setup-matlab@v1
        with:
          release: R2022a

      - name: Set up MATLAB (MacOS-14)
        if: ${{ matrix.os == 'macos-14' }}
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2023b

      - name: Update RCS keywords
        run: |
          printf '\n[filter "rcs-keywords"]\n\tclean  = .git_filters/rcs-keywords.clean\n\tsmudge = .git_filters/rcs-keywords.smudge %%f\n' >> .git/config
          rm -rf src/*.c
          git checkout src/*.c

      - name: Build binary
        run: |
          cd src
          make clean
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            make static USERARFLAGS="-Wl,-Bstatic -lm -Wl,-Bdynamic"
          elif [[ "$MATRIX_OS" == "macos-14" ]]; then
            # Fallback to Clang for ARM64 stability
            make CC=clang CXX=clang++ 
            otool -L ../bin/mcxcl
          elif [[ "$RUNNER_OS" == "macOS" ]]; then
            make CC=gcc-12 CXX=g++-12
          else
            make CC=gcc CXX=g++ USERARFLAGS="-Lc:/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/x86_64-w64-mingw32/lib libzmat.a"
          fi

      - name: Create package folder
        run: mkdir -p packages

      - name: Create release tag
        run: echo "RELEASE_TAG=$(echo ${{ runner.os }}-${{ runner.arch }}-github-latest | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Zip and Upload mcxcl package
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            7z a -tzip packages/mcxcl-${{ env.RELEASE_TAG }}.zip bin/mcxcl.exe
          else
            zip -r packages/mcxcl-${{ env.RELEASE_TAG }}.zip bin/mcxcl
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: all-mcxcl-packages-${{ env.RELEASE_TAG }}
          path: packages/mcxcl-${{ env.RELEASE_TAG }}.zip
